<div *ngIf="question">
    <p [innerHTML]="question.question"></p>
    <div class="options">
        <ng-container *ngFor="let option of question.options; trackBy: trackByIndex">
            <button
                (click)="onOptionClick(option)"
                [ngClass]="{
                    'primary': question.selectedAnswer === option && !isDisabled,
                    'error': (question.selectedAnswer === option) && (question.selectedAnswer !== question.correct_answer) && isDisabled,
                    'success': question.correct_answer === option && isDisabled,
                    'disabled': isDisabled
                }"
                [innerHTML]="option"
            ></button>
        </ng-container>
    </div>
</div>
